<nav class="navbar navbar-expand-lg bg-transparent">
   <div class="container-fluid">
     <img src="../assets/images/proj-logo.png" alt="logo" class="logo">
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse " id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" routerLink="/homepage">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" routerLink="/homepage">Products</a>
         </li>
         
       
       </ul>
     
         
         <button class="btn btn-outline-success" type="submit">Sign In</button>
         <button class="btn btn-outline-success" type="submit">Sign Up</button>
         <a routerLink="/cart"><img src="https://myonline-store.herokuapp.com/images/cart.png" alt="cart" class="cart-img"></a>
     
     </div>
   </div>
 </nav>

<div class="container">
    <div class="row">
       <div class="col-md-5">
          
         <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" *ngIf="sneakers">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{{sneakers.image}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{sneakers.altimage1}}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{{sneakers.altimage2}}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>

       </div>

       <div class="col-md-7" *ngIf="sneakers">
          <p class="newarrival text-center">Fresh-In</p>
          <h2>{{sneakers.name}}</h2>
          <p>{{sneakers.description}}</p>
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>

          <p class="price"><b>Price: R {{sneakers.price}}</b></p>
          <p><b>Brand: {{sneakers.brand}}</b></p>

          <label for="">Quantity</label>
          <input type="text" value="1">
         
          
      </div>
    </div>
</div>

