.container {
    margin-top: 100px;
}

.newarrival {

    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight: bold;

}

.col-md-7 h2 {

    color: #555;
}

.checked {
    color: green;
  }

  .price {
      color: black;
      font-size: 26px;
      font-weight: bold;
      padding-top: 20px;
  }

  input {

    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
  }

  .btn {
      font-size: 15px;
      margin-left: 20px;
  }

  .cart-img{
    height: 40px;
    width: 40px;
}

.logo {
    height: 120px;
    width: 120px;
}

.card {
    border-color: transparent;
    transition: 2s;
}

.card:hover {
    transform: translateY(-15px);
}

a {
    text-decoration: none;
    color: green;
}