<div class="image-box">
    <img [src]="product.image" style="height: 120px;" />
</div>
<div class="about">
    <h1 class="title"></h1>
    <br>
    <h3 class="subtitle">{{product.brand}}</h3>
    <h3 class="subtitle">{{product.name}}</h3>
   
</div>
<div class="counter">
    <button class="btn" (click)="increment(i)">+</button>
    <div class="count">{{product.quantity}}</div>
    <div class="btn" (click)="decrement(product.quantity, i)">-</div>
</div>
<div class="prices">
    <div class="amount">{{product.price | currency: 'ZAR'}}</div>
    
    <div class="remove">
        <button class="remove" (click)="deleteItem(i)"><u>Remove</u></button></div>
</div>