.cart-img{
    height: 40px;
    width: 40px;
}

.logo {
    height: 120px;
    width: 120px;
}

.card {
    border-color: transparent;
    transition: 2s;
}

.card:hover {
    transform: translateY(-15px);
}

a {
    text-decoration: none;
    color: green;
}